@font-face {
    font-family:'Cuprum';
    src:local('Cuprum'), url('./fonts/Cuprum.ttf') format('truetype');
}
@font-face {
    font-family:'Gunplay';
    src:local('Gunplay'), url('./fonts/gunplay.ttf') format('truetype');
}
*{
    font-family:Cuprum,Sans-Serif;
}
body{
    padding:0;
    margin:0;
    font-size:16px;
}
header{
    background:url('./images/header-bg.png') repeat-x left top;
    position:fixed;
    top:0;
    left:0;
    right:0;
}
header h1{
    float:left;
    width:6em;
    font-size:1.5em;
    color:#FFF;
}
header h1 span.version{
    font-size:.5em;
    font-weight:normal;
    position:absolute;
    top:2em;
    left:0;
}
footer{
    margin:0.5em 0 0 0;
    border-top:1px solid #999;
    text-align:center;
    font-size:0.8em;
    color:#999;
}
#menu * {
    color:#FFF;
    text-decoration:none;
}
#menu select, #menu option, #menu textarea, #menu ui-widget{
    color:#000;
}
#menu > ul{
    display:block;
    height:2.5em;
}
#menu > ul > li{
    list-style:none;
    float:left;
    padding:.5em;
}
#menu > ul > li > div{
    display:none;
    position:absolute;
    top:2.5em;
    left:0;
    right:0;
    width:100%;
    z-index:1000;
    padding:1em;
    background:url('./images/header-bg.png') repeat-x left -2.5em;
}
#menu > ul > li:hover > div{
    display:block;
}
#menu > ul > li > ul{
    display:none;
}
fieldset{
    border:1px dotted #CCC;
}
fieldset legend{
    font-size:0.9em;
}
label{
    font-size:0.9em;
}
details > summary{transition:color 1s;color:black;}
details[open] > summary{color:red;}
main{
    text-align:center;
    padding:3em 1em 1em 1em;
}
#mapDesc{
    margin:0;
    padding:0;
    color:#CCC;
    display:block;
    position:absolute;
    top:0;
    right:5px;
    font-size:.8em;
}
#mapContainer{
    margin:auto;
}
#mapContainer text{
    text-align:center;
}
#mapContainer .team0{
    stroke:#FFF;
}
#mapContainer .team1{
    stroke:#0F0;
}
#mapContainer .team2{
    stroke:#F00;
}
#mapContainer text.team0{
    fill:#FFF;
}
#mapContainer text.team1{
    fill:#0F0;
}
#mapContainer text.team2{
    fill:#F00;
}
#gridOverlay text{
    fill:#000;
}
#basesOverlay circle{
    fill-opacity:.5;
}
#basesOverlay polygon{
    fill-opacity:.2;
}
#basesOverlay circle.team0, #basesOverlay polygon.team0{
    fill:#FFF;
}
#basesOverlay circle.team1, #basesOverlay polygon.team1{
    fill:#0F0;
}
#basesOverlay circle.team2, #basesOverlay polygon.team2{
    fill:#F00;
}
.elements{list-style:none;padding:0;margin:0}
.element{list-style:none;padding:0;margin:0;display:block;width:35px;height:35px}
.element.selected{border:1px solid #FFF}
.element span{display:none}
.element.HT0{background:url('../../res/wot/elements/HT0.png') no-repeat left top}
.element.HT1{background:url('../../res/wot/elements/HT1.png') no-repeat left top}
.element.HT2{background:url('../../res/wot/elements/HT2.png') no-repeat left top}
.element.MT0{background:url('../../res/wot/elements/MT0.png') no-repeat left top}
.element.MT1{background:url('../../res/wot/elements/MT1.png') no-repeat left top}
.element.MT2{background:url('../../res/wot/elements/MT2.png') no-repeat left top}
.element.LT0{background:url('../../res/wot/elements/LT0.png') no-repeat left top}
.element.LT1{background:url('../../res/wot/elements/LT1.png') no-repeat left top}
.element.LT2{background:url('../../res/wot/elements/LT2.png') no-repeat left top}
.element.TD0{background:url('../../res/wot/elements/TD0.png') no-repeat left top}
.element.TD1{background:url('../../res/wot/elements/TD1.png') no-repeat left top}
.element.TD2{background:url('../../res/wot/elements/TD2.png') no-repeat left top}
.element.SPG0{background:url('../../res/wot/elements/SPG0.png') no-repeat left top}
.element.SPG1{background:url('../../res/wot/elements/SPG1.png') no-repeat left top}
.element.SPG2{background:url('../../res/wot/elements/SPG2.png') no-repeat left top}
.moving{opacity:.5}