@font-face {
    font-family:'Cuprum';
    src: local('Cuprum'), url('./fonts/Cuprum.ttf') format('truetype');
}
@font-face {
    font-family:'Gunplay';
    src:local('Gunplay'), url('./fonts/gunplay.ttf') format('truetype');
}
*{
    font-family:Cuprum,Sans-Serif;
}
body{
    padding:0;
    margin:0;
    font-size:16px;
}
header{
    background:#CCC;
}
footer{
    margin:0.5em 0 0 0;
    border-top:1px solid #999;
    text-align:center;
    font-size:0.8em;
    color:#999;
}
#menu > ul{
    display:block;
    height:3em;
}
#menu > ul > li{
    list-style:none;
    float:left;
    padding:.5em;
}
#menu > ul > li > div{
    display:none;
    position:absolute;
    top:5.5em;
    left:0;
    right:0;
    width:100%;
    background:#999;
    z-index:1000;
    padding:1em;
}
#menu > ul > li:hover > div{
    display:block;
}
#menu > ul > li > ul{
    display:none;
}
fieldset{
    border:1px dotted #CCC;
}
fieldset legend{
    font-size:0.9em;
}
label{
    font-size:0.9em;
}
details > summary { transition: color 1s; color: black; }
details[open] > summary { color: red; }