@font-face {
    font-family:'Cuprum';
    src:local('Cuprum'), url('./fonts/Cuprum.ttf') format('truetype');
}
@font-face {
    font-family:'Gunplay';
    src:local('Gunplay'), url('./fonts/gunplay.ttf') format('truetype');
}
*{font-family:Cuprum,Sans-Serif}
body{
    padding:0;
    margin:0;
    font-size:16px;
}
header{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
}
header h1{
    display:none;
    float:left;
    width:6em;
    font-size:1.5em;
    color:#FFF;
}
header h1 span.version{
    font-size:.5em;
    font-weight:normal;
    position:absolute;
    top:2em;
    left:0;
}
footer{
    margin:0.5em 0 0 0;
    border-top:1px solid #999;
    text-align:center;
    font-size:0.8em;
    color:#999;
}
#menu * {
    color:#000;
    text-decoration:none;
}
#menu select, #menu input, #menu option, #menu textarea{color:#000}
#menu .ui-widget,#menu .ui-button-text{color:#555}
#menu .colorpicker input{color:#898989}
#menu > ul{
    display:block;
    margin:0;
    padding:0;
}
#menu > ul > li{
    list-style:none;
    margin:0;
    padding:0;
    padding:.5em;
}
#menu > ul > li > div{
    display:none;
    position:absolute;
    left:32px;
    top:0;
    bottom:0;
    z-index:1000;
    padding:1em;
    background: rgba(255,255,255,.9);
}
#menu > ul > li:hover > div{display:block}
#menu > ul > li > ul{display:none}
#menu .operation{padding:0 0 0 20px}
#menu .operation.delete{background:url('./icons/delete.png') no-repeat left top}
#menu .operation.select{background:url('./icons/layout.png') no-repeat left top}
#menu > ul > li > a{display:block;width:24px;height:24px;opacity:.25;border:1px solid transparent}
#menu > ul > li > a.selected{border:1px solid #999}
#menu > ul:hover > li > a{opacity:1}
#menu > ul > li > a > span{display:none}
#menuMap div{min-width:20em}
#menuMap > a{background:url('./icons/map.png') no-repeat center center}
#menuEditElements > a{background:url('./icons/pencil.png') no-repeat center center}
#menuEditShapes > a{background:url('./icons/shape_move_front.png') no-repeat center center}
#menuEditLines > a{background:url('./icons/arrow_right.png') no-repeat center center}
#menuEditTexts > a{background:url('./icons/text_align_left.png') no-repeat center center}
#menuShare div{min-width:20em}
#menuShare > a{background:url('./icons/share.png') no-repeat center center}
#menuShare textarea{height:15em}
#menuAbout > a{background:url('./icons/information.png') no-repeat center center}
#menuAbout span.version{padding:0 0 0 .5em}
#txtImportExport{width:100%}
fieldset{border:1px dotted #CCC}
fieldset legend{font-size:0.9em}
label{font-size:0.9em}
details > summary{transition:color 1s;color:black}
details[open] > summary{color:red}
main{
    text-align:center;
    padding:.25em;
}
#mapDesc{
    color:#999;
    display:block;
    font-size:.8em;
}
#mapContainer{margin:auto}
#mapContainer text{text-align:center}
#mapContainer .team0{stroke:#FFF}
#mapContainer .team1{stroke:#0F0}
#mapContainer .team2{stroke:#F00}
#mapContainer text.team0{fill:#FFF}
#mapContainer text.team1{fill:#0F0}
#mapContainer text.team2{fill:#F00}
#gridOverlay text{fill:#000}
#gridOverlay line.outer{stroke:#FFF;stroke-width:0.5;stroke-dasharray:1,1}
#gridOverlay line.inner{stroke:#000;stroke-width:0.5;stroke-dasharray:1,1}
#basesOverlay circle{fill-opacity:.5}
#basesOverlay polygon{fill-opacity:.2}
#basesOverlay circle.team0, #basesOverlay polygon.team0{fill:#FFF}
#basesOverlay circle.team1, #basesOverlay polygon.team1{fill:#0F0}
#basesOverlay circle.team2, #basesOverlay polygon.team2{fill:#F00}
#textsOverlay text{fill:#FFF}
#scaleOverlay line{stroke:#FFF;stroke-width:0.5}
#scaleOverlay text{fill:#FFF}
.elements{list-style:none;padding:0;margin:0}
.element{list-style:none;padding:0;margin:0;display:block;width:24px;height:24px;border:1px solid transparent}
.element.selected{border:1px solid #999}
.element span{display:none}
.moving{opacity:.5}
input.overlay, textarea.overlay{border:1px dotted #FFF;background:transparent}
.contextMenu{position:absolute;display:none;border:1px solid #999;background:#666;opacity:.5;padding:2px;height:22px}
.contextMenu:hover{opacity:1}
.contextMenu *{font-size:.9em}
.contextMenu label{color:#FFF;margin:-9px 0 0 0;padding:0}
.contextMenu select{margin:-2px 0 0 0}
.contextMenu ul{list-style:none;margin:0;padding:0}
.contextMenu li{display:inline-block;margin:0;padding:0}
.contextMenu a{display:block;width:16px;height:16px}
.contextMenu a span{display:none}
.contextMenu a.move{background:url('./icons/arrow_nsew.png') no-repeat left top}
.contextMenu a.delete{background:url('./icons/cross.png') no-repeat left top}
.contextMenu a.modifytext{background:url('./icons/text_signature.png') no-repeat left top}
.contextMenu a.smallertext{background:url('./icons/bullet_toggle_minus.png') no-repeat left top}
.contextMenu a.biggertext{background:url('./icons/bullet_toggle_plus.png') no-repeat left top}
.contextMenu a.textPosition.top{background:url('./icons/text_padding_bottom.png') no-repeat left top}
.contextMenu a.textPosition.top.selected{background:url('./icons/text_padding_bottom_faded.png') no-repeat left top}
.contextMenu a.textPosition.right{background:url('./icons/text_padding_left.png') no-repeat left top}
.contextMenu a.textPosition.right.selected{background:url('./icons/text_padding_left_faded.png') no-repeat left top}
.contextMenu a.textPosition.bottom{background:url('./icons/text_padding_top.png') no-repeat left top}
.contextMenu a.textPosition.bottom.selected{background:url('./icons/text_padding_top_faded.png') no-repeat left top}
.contextMenu a.textPosition.left{background:url('./icons/text_padding_right.png') no-repeat left top}
.contextMenu a.textPosition.left.selected{background:url('./icons/text_padding_right_faded.png') no-repeat left top}
#dialog-confirm,#textEdit{display:none}
